<div>
    <!-- Add New and Check Buttons -->
    <button id="openModalButton">Add new {{tableName}}</button>
    <p>Double-click a row to edit it.</p>

    <!-- Table -->
    <table data-table-name="{{tableName}}">
        <thead>
            <tr>
                {{#each columns}}
                    <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr data-id="{{Id}}" ondblclick="(() => window.openUpdateForm(this))(); return false;">
                    {{#each this}}
                        <td id="{{@key}}">{{this}}</td>
                    {{/each}}
                    <td class="no-border">
                        <button onclick="(() => window.deleteRow(this))(); return false;">Delete</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{> form tableName=tableName columns=columns }}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    .no-border {
        border-top: none !important;
        border-bottom: none !important;
        border-right: none !important;
    }
</style>

