<div>
    <div style="display: flex; align-items: center; margin-bottom: 1em;">
        <!-- Add New and Check Buttons -->
        <button class="Add-button" id="openModalButton">Add new {{tableName}}</button>

        <input 
            type="text" 
            id="searchField" 
            placeholder="Search ..." 
            style="height: fit-content; color:black; font-size: medium; padding: 5px; width: 250px; border-radius: 8px; border: 1px solid #ddd;"
        />
    </div>
    
    
    <p style="margin-left: 2em;">Double-click a row to edit it.</p>
    <!-- Table -->
    <table 
        data-table-name="{{tableName}}"
        data-pagination="true"
        data-page-list="[10, 25, 50, 100, all]"
    >
        <thead>
            <tr>
                {{#each columns}}
                    <th>{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody id="table-body">
            {{#each data}}
                <tr data-id="{{Id}}" ondblclick="(() => window.openUpdateForm(this))(); return false;">
                    {{#each this}}
                        <td id="{{@key}}">{{this}}</td>
                    {{/each}}
                    <td class="no-border">
                        <button class="delete-button" onclick="(() => window.deleteRow(this?.parentElement?.parentElement))(); return false;">Delete</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- Pagination -->
    <div id="pagination" style="text-align: center; margin-top: 1em;"></div>
</div>

{{> form tableName=tableName columns=columns }}

<style>
    table {
        margin: 2em;
        margin-top: 0;
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    .Add-button {
        height: fit-content;
        width: 150px;
        font-size: medium;
        font-weight: bold;
        background-color: aqua;
        color: black;
        border-radius: 8px;
        margin-right: 2em;
    }
    .no-border {
        border-top: none !important;
        border-bottom: none !important;
        border-right: none !important;
    }
    .delete-button {
        background-color: rgb(255, 0, 0);
        color: rgb(255, 255, 255);
        border-radius: 8px;
    }

    #pagination button {
        margin: 0 5px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #ddd;
        cursor: pointer;
    }
    #pagination button.active {
        background-color: aqua;
        font-weight: bold;
    }
</style>
